### Problem 
---

In [1]:
import numpy as np
import pandas as pd

In [2]:
train_df = pd.read_csv('/home/miki/Desktop/Projects/Hamoye/friday-sale/data/raw/train.csv')
test_df = pd.read_csv('/home/miki/Desktop/Projects/Hamoye/friday-sale/data/raw/test.csv')
df = pd.concat([train_df, test_df])

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 783667 entries, 0 to 233598
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   User_ID                     783667 non-null  int64
 1   Product_ID                  783667 non-null  object
 2   Gender                      783667 non-null  object
 3   Age                         783667 non-null  object
 4   Occupation                  783667 non-null  int64
 5   City_Category               783667 non-null  object
 6   Stay_In_Current_City_Years  783667 non-null  object
 7   Marital_Status              783667 non-null  int64
 8   Product_Category_1          783667 non-null  int64
 9   Product_Category_2          537685 non-null  float64
 10  Product_Category_3          237858 non-null  float64
 11  Purchase                    550068 non-null  float64
dtypes: float64(3), int64(4), object(5)
memory usage: 77.7+ MB

In [4]:
pd.DataFrame({"Missing Values (%)": df.isnull().sum()/len(df.index)*100})

                            Missing Values (%)
User_ID                               0.000000
Product_ID                            0.000000
Gender                                0.000000
Age                                   0.000000
Occupation                            0.000000
City_Category                         0.000000
Stay_In_Current_City_Years            0.000000
Marital_Status                        0.000000
Product_Category_1                    0.000000
Product_Category_2                   31.388587
Product_Category_3                   69.648078
Purchase                             29.808452

In [5]:
df.shape

(783667, 12)

In [6]:
df.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370.0
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200.0
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422.0
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057.0
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969.0

In [7]:
df.duplicated().sum()

0

In [8]:
df[df.duplicated()]

Empty DataFrame
Columns: [User_ID, Product_ID, Gender, Age, Occupation, City_Category, Stay_In_Current_City_Years, Marital_Status, Product_Category_1, Product_Category_2, Product_Category_3, Purchase]
Index: []

In [9]:
#df = df.loc[:,~df.columns.duplicated(keep='first')]

In [10]:
df[df.duplicated()]

Empty DataFrame
Columns: [User_ID, Product_ID, Gender, Age, Occupation, City_Category, Stay_In_Current_City_Years, Marital_Status, Product_Category_1, Product_Category_2, Product_Category_3, Purchase]
Index: []

In [11]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
User_ID,783667.0,1.003029e+06,1727.266668,1000001.0,1001519.0,1003075.0,1004478.0,1006040.0
Occupation,783667.0,8.079300e+00,6.522206,0.0,2.0,7.0,14.0,20.0
Marital_Status,783667.0,4.097774e-01,0.491793,0.0,0.0,0.0,1.0,1.0
Product_Category_1,783667.0,5.366196e+00,3.878160,1.0,1.0,5.0,8.0,20.0
Product_Category_2,537685.0,9.844506e+00,5.089093,2.0,5.0,9.0,15.0,18.0
Product_Category_3,237858.0,1.266860e+01,4.125510,3.0,9.0,14.0,16.0,18.0
Purchase,550068.0,9.263969e+03,5023.065394,12.0,5823.0,8047.0,12054.0,23961.0

In [12]:
df = df.fillna(df.median());

/tmp/ipykernel_31792/3805657465.py:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df = df.fillna(df.median());

In [13]:
df.isnull().sum()

User_ID                       0
Product_ID                    0
Gender                        0
Age                           0
Occupation                    0
City_Category                 0
Stay_In_Current_City_Years    0
Marital_Status                0
Product_Category_1            0
Product_Category_2            0
Product_Category_3            0
Purchase                      0
dtype: int64

In [14]:
df.drop(['User_ID', 'Product_ID'], axis=1)

,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,F,0-17,10,A,2,0,3,9.0,14.0,8370.0
1,F,0-17,10,A,2,0,1,6.0,14.0,15200.0
2,F,0-17,10,A,2,0,12,9.0,14.0,1422.0
3,F,0-17,10,A,2,0,12,14.0,14.0,1057.0
4,M,55+,16,C,4+,0,8,9.0,14.0,7969.0
...,...,...,...,...,...,...,...,...,...,...
233594,F,26-35,15,B,4+,1,8,9.0,14.0,8047.0
233595,F,26-35,15,B,4+,1,5,8.0,14.0,8047.0
233596,F,26-35,15,B,4+,1,1,5.0,12.0,8047.0
233597,F,46-50,1,C,4+,0,10,16.0,14.0,8047.0
233598,F,46-50,0,B,4+,1,4,5.0,14.0,8047.0

In [15]:
df['Stay_In_Current_City_Years'].unique()

array(['2', '4+', '3', '1', '0'], dtype=object)

In [16]:
df['Stay_In_Current_City_Years']=df['Stay_In_Current_City_Years'].str.replace('+','')

/tmp/ipykernel_31792/2063355665.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Stay_In_Current_City_Years']=df['Stay_In_Current_City_Years'].str.replace('+','')

In [17]:
df['City_Category'].unique()

array(['A', 'C', 'B'], dtype=object)

In [18]:
df['City_Category']= df['City_Category'].replace(["A", "C", "B"],[1,3,2])

In [19]:
df.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,1,2,0,3,9.0,14.0,8370.0
1,1000001,P00248942,F,0-17,10,1,2,0,1,6.0,14.0,15200.0
2,1000001,P00087842,F,0-17,10,1,2,0,12,9.0,14.0,1422.0
3,1000001,P00085442,F,0-17,10,1,2,0,12,14.0,14.0,1057.0
4,1000002,P00285442,M,55+,16,3,4,0,8,9.0,14.0,7969.0

### Exploratory Data Analysis

In [20]:
import plotly.express as px

In [21]:
age_df = df.groupby('Age')['Purchase'].mean()
age_df = pd.DataFrame({'Age': age_df.index, 'Purchase_av': age_df.values})

In [22]:
age_df.head()

     Age  Purchase_av
0   0-17  8674.514250
1  18-25  8835.180982
2  26-35  8892.818855
3  36-45  8948.554791
4  46-50  8860.251877

In [23]:
fig = px.line(age_df, x = 'Age', y = 'Purchase_av', title='Age group vs Purchase')
fig.show()